{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid about py-5">
    <div class="col text-center">
        <h3 class="logo-font">About Us</h3>        
    </div>
    <div class="container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum similique illo aspernatur quo magnam, quasi fugiat architecto labore? Tempore qui suscipit consequatur ex doloribus autem nam voluptates eveniet perferendis earum?</p>
    </div>
</div>
{% endblock %}