{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid about py-5">
    <div class="col text-center">
        <h3 class="logo-font">About Us</h3>        
    </div>
    <div class="container">
        <p>At Fungi Fantasy, we're passionate about bringing a touch of whimsy and magic to your outdoor space. 
            <br>With our enchanting collection of ceramic decorative garden mushrooms, we aim to transform ordinary gardens into extraordinary wonderlands.
            <br>Our journey began with a simple love for nature and a desire to inspire creativity and imagination in outdoor decor. 
            <br>Each of our meticulously crafted mushrooms is designed to add charm and character to your garden, creating a captivating environment where fantasy meets reality.</p>
    </div>
</div>
{% endblock %}