{% extends "base.html" %}
{% load static %}


{% block title %}Edit review{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'review/css/review.css' %}">
{% endblock %}

{% block content %}
<section class="container py-5" id="edit-review-section">
  <h1 class="h1">Edit your review</h1>
  <div class="row">
    <div class="col-12 col-md-6">
      <form method="POST" action="{% url 'edit_review' review.id %}" class="form mb-2">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'rating' %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">Rating *</label>
          <div class="rating mb-3">
            {% for _ in "12345" %}
            {% if forloop.counter <= review.rating %}
            <i class="fa-{% if review.rating < i|add:1 %}regular{% else %}solid{% endif %} fa-star fa-xl"
              data-value="{{ i|add:1 }}"></i>
              {% endif %}
              {% endfor %}
            <input type="hidden" name="rating" id="rating" value="{{review.rating}}">
          </div>
          {% else %}
          {{ field|as_crispy_field }}
          {% endif %}
          {% endfor %}
          <div class="text-right">
            <a class="btn btn-outline-primary" href="{% url 'product_detail' product.id %}">Cancel</a>
            <button class="btn btn-primary" type="submit">Add review</button>
          </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}

{% block post_load_js %}
{{ block.super }}
{% endblock %}